{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load i18n %}
{% load wagtailimages_tags %}

{% block head_style %}
  {% if page.image %}
    {% image page.image fill-1900x600 format-jpeg as tmp_photo %}
    background-image: url('{{ tmp_photo.url }}')
  {% endif %}
{% endblock %}

{% block heading %}
<div class="post-heading">
<h1>{{ page.title }}</h1>
<h2 class="subheading">{{ page.subtitle }}</h2>
<span class="meta">{% translate "Posted on" %}  {{ page.date|date:"DATE_FORMAT" }}</span>
</div>
{% endblock %}

{% block content %}
	
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
		    {% for block in page.body %}
	        	{% include_block block %}
		    {% endfor %}
        <div class="text-right">
        	{% for t in page.tags.all %}
        		<a href="{% url 'tag' %}?query={{ t.slug }}" class="badge badge-info">{{ t }}</a> 
        	{% endfor %}
        </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}