{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load i18n %}
{% load wagtailimages_tags %}

{% block head_style %}
  {% if page.image %}
    {% image page.image fill-1900x600 format-jpeg as tmp_photo %}
    background-image: url('{{ tmp_photo.url }}')
  {% endif %}
{% endblock %}

{% block heading %}
<div class="page-heading">
  <h1>{{ page.title }}</h1>
  <span class="subheading">{{ page.subtitle }}</span>
</div>
{% endblock %}

{% block content %}
	
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
		    {% for block in page.body %}
	        	{% include_block block %}
		    {% endfor %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}