{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load i18n %}


{% block head_style %}
  {% include "blog/partials/head_style.html" %}
{% endblock %}

{% block heading %}
<div class="site-heading">
  <h1>{{ page.title }}</h1>
  <span class="subheading">{{ page.subtitle }}</span>
</div>
{% endblock %}

{% block content %}

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" id='postlist'>
        <div class="post-preview" v-for='post in posts'>
          <a v-bind:href="post.url">
            <h2 class="post-title">
              {% templatetag openvariable %} post.title {% templatetag closevariable %}
            </h2>
            <h3 class="post-subtitle">
              {% templatetag openvariable %} post.subtitle {% templatetag closevariable %}
            </h3>
          </a>
          <p class="post-meta"> 
          	{% templatetag openvariable %} post.meta {% templatetag closevariable %}
          </p>
        </div>

        {% comment %}
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#" v-on:click.prevent="morePosts">Older Posts &rarr;</a>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
<script>
  let posts = {
    el: '#postlist',
    data: {
      current_page: 1,
      total_pages: {{ total_pages }},
      posts: [
      {% for p in posts %}
        {
          url: '{% pageurl p %}',
          title: '{{ p.title|escapejs }}',
          subtitle: '{{ p.subtitle|escapejs }}',
          meta: '{% translate "Posted on" %} {{ p.date|date:"DATE_FORMAT" }}',
        },
      {% endfor %}
      ]
    },
    computed: {
      request_url() {
        return `{% url 'api:blog_pages_list' %}?page=${this.current_page}`;
      }
    },
  }
  let postlist = new Vue(Object.assign(PostListMixin, posts));
</script>
{% endblock %}