{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load i18n %}

{% block heading %}
<div class="site-heading">
  <h1>{{ page.title }}</h1>
  <span class="subheading">{{ page.subtitle }}</span>
</div>
{% endblock %}

{% block content %}

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" id='postlist'>
        <div class="post-preview" v-for='post in posts'>
          <a v-bind:href="post.url">
            <h2 class="post-title">
              {% templatetag openvariable %} post.title {% templatetag closevariable %}
            </h2>
            <h3 class="post-subtitle">
              {% templatetag openvariable %} post.subtitle {% templatetag closevariable %}
            </h3>
          </a>
          <p class="post-meta"> 
          	{% templatetag openvariable %} post.meta {% templatetag closevariable %}
          </p>
        </div>

        {% comment %}
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#" v-on:click.prevent="morePosts">Older Posts &rarr;</a>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
<!-- {% url 'api:blog_pages_list' %} -->
<script>
	let postlist = new Vue({
		el: '#postlist',
		data: {
      current_page: 1,
      total_pages: {{ total_pages }},
			posts: [
			{% for p in posts %}
				{
					url: '{% pageurl p %}',
					title: '{{ p.title|escapejs }}',
					subtitle: '{{ p.subtitle|escapejs }}',
					meta: '{% translate "Posted on" %} {{ p.date|date:"DATE_FORMAT" }}',
				},
			{% endfor %}
			]
		},
		methods: {
    	scroll_yielder() {
        if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight-100) {
          if (this.current_page < this.total_pages) {
            this.current_page = ++this.current_page;
            let vm = this;
            axios.get(`{% url 'api:blog_pages_list' %}?page=${vm.current_page}`)
            .then((r) => { vm.posts = vm.posts.concat(r.data.results); })
            .catch((err) => { console.log(err); });
          }
        }
	    },
	  },
    mounted() {
      this.$nextTick(() => {
        document.addEventListener('scroll', this.scroll_yielder);
      });
    },
    destroyed() {
      document.removeEventListener('scroll', this.scroll_yielder);
    },
	});

</script>
{% endblock %}